@{
    ViewBag.Title = "About";
}

<p>
    <table class="center">
        <tr>
            <td>
                Name
            </td>
            <td>
               Saber Abbas Zaidi
            </td>
        </tr>
        <tr>
            <td>
                About
            </td>
            <td>
               A boy who is trying to learn some coding
            </td>
        </tr>

    </table>
</p>