@model Doctor
@{
    ViewBag.Title = "FeverCheck";
}

<div>
    <h3>Get your Body Temperature checked here!</h3>
</div>

<div>
    <form asp-action="FeverCheck" method="post">
        <label asp-for="BodyTemp"></label>
        <input asp-for="BodyTemp" />

        <input type="submit" value="Check Fever" />
    </form>
</div>

<div>
    @if (ViewBag.Recommendation != null)
    {
        <p>@ViewBag.Recommendation</p>
    }
</div>