
    body

{
    background-color: lightblue;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.center {
    margin: auto;
    width: 100%;
}
}
